$color-black: rgb(27, 26, 26);
$color-yellow: rgb(255, 187, 39);
$color-red: rgb(255, 136, 24);
$color-orange: rgb(255, 227, 70);
$color-green: rgb(19, 224, 105);
$color-lilas: rgb(79, 46, 226);
$color-lilas2: rgb(40, 7, 78); 
$color-blk: rgb(255, 7, 40);
$font-size-h1: 5vw;
